/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input,
textarea,
button {
	outline: none;
	border: none;
}
button {
	cursor: pointer;
	background-color: transparent;
}
textarea {
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start */

	/* text color, text align, float, backgrounds colors, text transform
	*/
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.text-justify {
		text-align: justify;
	}
	.bg-black {
		background-color: #111;
	}
	.bg-grey {
		background-color: #f8f8f8;
	}
	.m-auto {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== Default classes end */
	/* ===== Default component start ===== */
	
	/*Buttons, text, title, section, small-section header, footer,
	form elements, icons, tabs, blockquote, container
	*/
	.default-section {
		padding: 135px 0;
	}
	.small-section {
		padding: 70px 0;
	}
	.container {
		max-width: 1200px;
		padding: 0 15px;
		margin: auto;
	}
	.container-fluid {
		padding: 0 15px;
	}
	.title {
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		color: #111;
	}
	.title.title-white {
		color: #fff;
	}
	.title.section-title {
		font-size: 18px;
		letter-spacing: .5em;
		margin-bottom: 75px;
		font-weight: 400;
	}
	.title.section-title-light {
		font-size: 18px;
		letter-spacing: .3em;
		margin-bottom: 20px;
		font-weight: 300;
		line-height: 1.7333;
	}
	.default-text-small{
		font-family: 'Dosis', sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: .4em;
		font-weight: 400;
		color: #999;
	}
	.default-text {
		font-size: 14px;
		line-height: 1.7333;
		font-weight: 300;
	}
	.default-title {
		font-family: 'Dosis', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .4em;
	}
	blockquote, 
	.blockquote {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.6;
	}
	blockquote span, 
	.blockquote span {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	.btn {
		display: inline-block;
		padding: 12px 20px;
		border-radius: 2px;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .2em;
		line-height: 1;
	}
	.btn[disabled]{
		cursor: not-allowed;
		opacity: .6;
	}
	.btn.btn-default {
		background-color: #e5e5e5;
		color: #777;
	}
	.btn.btn-default:hover {
		background-color: #d1d0d0;
	}
	.btn.btn-black {
		background-color: #323232;
		color: #fff;
	}
	.btn.btn-black:hover {
		background-color: #000;
	}
	.btn.btn-xs {
		padding: 7px 15px;
		font-size: 11px;
	}
	.form-control{
		width: 100%;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
		height: 36px;
		font-size: 12px;
		font-family: 'Open Sans';
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .2em;
		color: #777;
		padding-left: 13px;
		padding-right: 13px;
	}
	.form-control:focus{
		border-color: #111;
	}
	textarea.form-control{
		min-height: 82px;
		padding-top: 10px;
	}
	.form-control[disabled],
	.form-control.disabled{
		cursor: not-allowed;
		opacity: .6;
	}
	.form-control.error{
		border-color: #f57e7e;
	}
	.form-info {
		font-size: 11px;
		font-weight: 400;
		color: #aaa;
	}
	.form-info .fa {
		font-size: 12px;
		margin-right: 3px;
	}
	.rhomb-icon {
		display: inline-block;
		width: 23px;
		height: 23px;
		text-align: center;
		line-height: 23px;
		border-radius: 2px;
		font-size: 14px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.rhomb-icon i{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.rhomb-icon.black-icon{
		color:#fff;
		background-color: #111;
	}
	.rhomb-icon.transparent-iblack-icon.social-item-icon {	
		display: inline-block;
		width:25px;
		height:25px;
		background-color: rgba(255, 255, 255, 1);
		border: 1px solid #000;
		color:#111;
	}
	/*-------  header  ------*/
	.header {
		overflow: hidden;
		position: fixed;
		padding: 30px 0;
		top: 0;
		width: 100%;
		z-index: 99;
	}
	.header .logo {
		float: left;
	}
	.header .header-nav {
		float: right;
	}
	.header .header-nav li {
		float: left;
		color: rgba(255, 255, 255, .75);
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .3em;
		line-height: 23px;	
	}
	.header .header-nav li+li {
		margin-left: 35px;
	}
	/*--------  header end ---*/
	/*--------  footer  ------*/
	.footer{
		position: relative;
		padding-top: 140px;
		padding-bottom: 60px;
	}
	.footer-content.logo {
		display: inline;
		max-width: 78px;
	}
	.footer-nav {
		margin-top: 22px;
	}
	.footer .footer-nav li{
		display: inline-block;
		width: 4%;
	}
	.footer .footer-nav li + li{
		margin-left: 10px;
	}
	.footer span{
		display: block;
		font-size: 12px;
		font-family: 'Dosis';
		font-weight: 400;
	}
	.footer span.footer-info{
		text-transform: uppercase;
		letter-spacing: .3em;
		color: #111;
		margin-top: 108px;
	}
	.footer .footer-info i {
		margin-right: 15px;
	}
	.rhomb-icon.transparent-iblack-icon.social-item-icon{

	}
	.footer span.footer-text {
		color: #777;
		margin-top: 15px;
	}
	.triangle-up {
		width: 0;
		height: 0;
		border-bottom: 25px solid rgba(198, 198, 198, .5);
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-radius: 3px;
		position: fixed;
		bottom: 25px;
		right: 30px;
	}
	/*------  footer end  -----*/
	/* ===== Default component end ===== */
	/* ===== Guide styles start ===== */
	.guide-section form .form-control{
		margin-bottom: 10px;
	}
	/* ===== Guide styles end ===== */
	/* ===== Custom styles start ===== */
	.inner{
		background-image: url('../img/inner-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
		text-align: center;
		padding-top: 85px;
	}
	.inner::before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-left: -4px;
	}
	.inner-content{
		display: inline-block;
		vertical-align: middle;
	}
	.inner h1{
		font-family: 'Dosis', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		text-indent: 1.7em;
		letter-spacing: 1.7em;
		color: #fefefe;
	}
	.inner span{
		display: block;
		font-size: 19px;
		margin-top: 100px;
		color: #fefefe;
	}
	/*----------inner end-------*/
	/*----------about-studio*/
	.team-wrapper {
		margin-top: 100px;
	}
	.team-item .team-item-img{
		position: relative;
		max-width:372px;
	}
	.team-item .team-item-skills{
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		transition: all .2s linear;
		padding: 35px 40px 100px 40px;
	}
	.team-item .team-item-img:hover .team-item-skills{
		opacity: 1;
	}
	.team-item span{
		display: block;
	}	
	.team-item .team-item-info{
		font-weight: 400;
		text-indent: .4em;
		letter-spacing: .4em;
	}
	.team-item-info .team-item-name{
		font-size: 15px;
		margin-top: 30px;
	}
	.team-item-info .team-item-role{
		font-size: 12px;
		margin-top: 15px;
	}
	.team-item-skills .skills-title{
		font-size: 18px;
		letter-spacing: .3em;
		font-weight: 400;
		line-height: 38px;
	}
	.team-item-skills .skills-text{
		font-size: 13px;
		line-height: 21px;
		color:rgba(255,255,255,.5);
		font-weight: 400;
		margin-top: 30px;
	}
	.bars{
		padding-top: 40px;
		color: rgba(255, 255, 255, .9);
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .2em;
		line-height: 38px;
	}
	.about-studio{
		border-bottom: 1px dotted #ececec;
	}
	/*-------about-studio and----*/
	/*-------services------------*/
	#tabs .tabs-nav{
		overflow: hidden;
		margin-bottom: 80px;
	}
	#tabs .tabs-nav li{
		float: left;
		width: 20%;
		color: rgba(17, 17, 17, .5);
		text-align: center;
	}
	#tabs .tabs-nav li span{
		display: block;
	}
	#tabs .icon{
		font-size: 48.01px;
		letter-spacing: .5em;
		margin-bottom: 35px;
	}
	#tabs .tabs-nav .ui-state-active span{
		color: #111;
	}
	/*---------services end--------- */
	/*---------lets talk-------------*/
	.lets-talk-content{
		padding: 140px 0;
	}
	.lets-talk-content p{
		color: rgba(255, 255, 255, .7);
		line-height: 1.7333;
		margin-bottom: 35px;
	}
	.lets-talk .lets-talk-img{
		margin-top: -32px;
	}
	/*----------lets-talk end--------*/
	/*----------portfolio------------*/
	.portfolio{
		margin-top: 135px;
	}
	.portfolio p{
		display: inline-block;
		max-width: 754px;
		line-height: 1.7333;
	}
	#tabs-portfolio {
		overflow: hidden;
		margin:  82px -15px 5px -15px;
	}
	#tabs-portfolio .tabs-nav li{
		display: inline-block;
		font-family: 'Dosis', sans-serif;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: .4em;
		text-transform: uppercase;
		color: rgba(17, 17, 17, .5);
	}
	#tabs-portfolio .tabs-nav li + li {
		margin-left: 65px;
	}
	#tabs-portfolio .tabs-nav .ui-state-active a{
		color:#111;
	}
	.portfolio-item-wrapper{
		margin: 80px -4px 0 -4px;
	}
	.portfolio-item{
		width: 33.3333%;
		float: left;
		padding: 0 4px;
	}
	.portfolio-item+.portfolio-item{
		margin-top: 5px;
	}
	.portfolio-item img{
		width:100%;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: .2s;	
	}
	.portfolio-item img:hover{
		filter: none;
	}
	/*----------portfolio end--------*/
	/*----------like-our-------------*/
	.like-our-content span{
		display: block;
		margin-bottom: 20px;
	}
	/*----------like-our end---------*/
	/*----------why-choose-----------*/
	.why-choose .row+.row{
		margin-top: 80px;
	}
	.icon-why-choose{
		font-size: 80px;
		color: #111;
		margin-bottom: 50px; 
	}
	.why-choose .title-why-choose{
		margin-bottom: 30px;
	}
	/*---------why-choose end---------*/
	/*---------review carousel--------*/
	.reviews-carousel{
		padding: 135px 0;
		overflow: hidden;
		text-align: center;
	}
	.reviews-carousel::before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-left: -4px;
	}
	.slide-content{
		display: inline-block;
		vertical-align: middle;
	}
	.reviews-carousel .icon {
		font-size: 32px;
		line-height: 1.5;
		color: #fff;
	}
	.reviews-carousel p{
		max-width: 735px;
		font-size: 18px;
		line-height: 1.666;
		color: rgba(255, 255, 255, .75);
	}
	.slide-content span.review-author {
		display: block;
		font-size: 11px;
		font-weight: 400;
		line-height: 3.4545;
		letter-spacing: .2em;
		color: rgba(255, 255, 255, .3);
		margin-top: 25px;
	}
	.slick-dots {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 30px;
	}
	.slick-dots li {
		display: inline-block;
		width: 9px;
		height: 9px;
		background-color: rgba(255, 255, 255, .8);
		border: 1px solid #000;
		border-radius: 50%;
		cursor: pointer;
	}
	.slick-dots li button {
		display: none;
	}
	.slick-dots li+li {
		margin-left: 5px;
	}
	.slick-dots li.slick-active {
		background-color: #000;
		border-color: rgba(255, 255, 255, .8);
	}
	.slick-arrow {
		position: absolute;
		height: 100%;
		top:0;
		z-index: 1;
		width: 90px;
		cursor: pointer;
	}
	.slick-arrow.slick-prev {
		left: 0;
	}
	.slick-arrow.slick-next {
		right: 0;
	}
	.slick-arrow .carousel-button{
		width: 63px;
		height: 63px;
		background: #fff;
		transform: rotate(-45deg);
		position: absolute;
		top: 50%;
		margin-left: -32px;
		margin-top: -31px;
	}
	.slick-arrow.slick-next .carousel-button{
		right: 0;
		margin-right: -32px;
	}
	.slick-arrow .carousel-button .fa {
		position: absolute;
		transform: rotate(45deg);
		font-size: 10px;
	}
	.slick-arrow.slick-prev .carousel-button .fa {
		bottom: 14px;
		right: 17px;
	}
	.slick-arrow.slick-next .carousel-button .fa {
		top: 14px;
		left: 17px;
	}
	/*---------review carousel end----*/
	/*---------news-------------------*/
	.news .section-title{
		position: relative;
		padding: 10px 0;
	}
	.news a{
		display: inline-block;
		position: absolute;
		right: 0;
		color:#999;
		line-height: 17px;	
	}
	.news a:hover{
		color:#111;
	}
	.news-item span{
		display: block;
	}
	.news-item-text .news-topic{
		padding-bottom: 17px;
		letter-spacing: .2em;
		font-weight: 400;
		color: #777;
	}
	p.news-text{
		margin-top: 20px;
		line-height: 26px;
	}
	.news .btn.btn-xs{
		background-color: #e5e5e5;
		margin-top: 28px;
	}
	.news .btn.btn-xs:hover{
		color:#111;
		background-color: #d3d0d0;
	}
	.news-item img{
		padding-bottom: 30px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: .2s;
	}
	.news-item img:hover {
		-webkit-filter: none;
		filter: none;
	}
	/*-------news end-------*/
	/*-------subscribe-----*/
	.subscribe form .form-control {
		max-width: 290px;
	}
	.subscribe .form-info {
		margin-top: 17px;
	}
	/*-------subscribe end-----*/
	/*------ contact  ---------*/
	.contact-item .contact-item-content {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
	}
	.contact-item .contact-item-content span {
		display: block;
		font-size: 12px;
		font-weight: 400;
	}
	.contact-item-content .contact-title {
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		letter-spacing: .3em;
	}
	.contact-item-content .contact-data {
		line-height: 2;
		color:#444444;
	}
	/*------ contact end ------*/
	/* ===== Custom styles end ===== */